In [1]:
#importing some libraries
import pandas as pd
from os import path

#importing Bokeh libraries
from bokeh.plotting import figure
from bokeh.layouts import layout
from bokeh.models import ColumnDataSource, Text, Range1d, Plot
from bokeh.models.widgets import Select
from bkcharts import Line, Bar
from bkcharts.attributes import cat, ColorAttr, color
from bkcharts.operations import blend
from bokeh.layouts import column
from bokeh.io import output_file, show
from bokeh.models import BoxZoomTool, ResetTool, ResetTool, SaveTool
from bokeh.models import FuncTickFormatter
from bokeh.models import CustomJS, Slider
from bokeh.models.glyphs import VBar
from bokeh.layouts import widgetbox
from bokeh.layouts import layout

In [2]:
#load data as DataFrame
df = pd.read_csv("resources/dataset_tax_change.csv", decimal=",", encoding='utf-8-sig')

In [3]:
df

,Unnamed: 0,Tax Units with Tax Cut,Tax Units with Tax Increase,Count,Average Tax Change,Total Tax Difference,Percent with Tax Increase,Percent with Tax Decrease,Share of Overall Change
0,NaN,Thousands,Thousands,Thousands,NaN,Billions,NaN,NaN,NaN
1,Less than 10,"1,436",477,"23,157",-8.000,-0.2,2.1,6.2,0.5
2,10-20,"7,015",111,"24,467",-81.000,-2.0,0.5,28.7,5.9
3,20-30,"9,483",106,"18,943",-184.000,-3.5,0.6,50.1,10.4
4,30-40,"11,352",307,"16,372",-297.000,-4.9,1.9,69.3,14.4
5,40-50,"9,795",374,"13,283",-370.000,-4.9,2.8,73.7,14.6
6,50-75,"17,029","1,201","22,758",-553.000,-12.6,5.3,74.8,37.3
7,75-100,"9,208","1,294","13,548",-577.000,-7.8,9.6,68.0,23.2
8,100-200,"11,100","4,332","23,024",-512.000,-11.8,18.8,48.2,35.0
9,200-500,691,"4,421","7,922",245.000,1.9,55.8,8.7,-5.8
10,500-1000,57,710,"1,179",2.461,2.9,60.2,4.8,-8.6
11,1000+,40,420,636,14.225,9.0,66.0,6.3,-26.8
12,All,"77,208","13,760","170,055",0.000,-33.7,0,0,100.0
13,Source: https://www.ospc.org/taxbrain/14814/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
list(df)

['Unnamed: 0',
 'Tax Units with Tax Cut',
 'Tax Units with Tax Increase',
 'Count',
 'Average Tax Change',
 'Total Tax Difference',
 'Percent with Tax Increase',
 'Percent with Tax Decrease',
 'Share of Overall Change']

In [5]:
df_data = df[['Unnamed: 0','Tax Units with Tax Cut', 'Tax Units with Tax Increase', 'Average Tax Change']]

In [6]:
df_data

,Unnamed: 0,Tax Units with Tax Cut,Tax Units with Tax Increase,Average Tax Change
0,NaN,Thousands,Thousands,NaN
1,Less than 10,"1,436",477,-8.000
2,10-20,"7,015",111,-81.000
3,20-30,"9,483",106,-184.000
4,30-40,"11,352",307,-297.000
5,40-50,"9,795",374,-370.000
6,50-75,"17,029","1,201",-553.000
7,75-100,"9,208","1,294",-577.000
8,100-200,"11,100","4,332",-512.000
9,200-500,691,"4,421",245.000
10,500-1000,57,710,2.461
11,1000+,40,420,14.225
12,All,"77,208","13,760",0.000
13,Source: https://www.ospc.org/taxbrain/14814/,NaN,NaN,NaN

In [7]:
df_dropped=df_data.drop(df.index[[0,len(df_data['Tax Units with Tax Cut'])-1]])

In [8]:
len(df_data['Tax Units with Tax Cut'])-1

13

In [9]:
df_dropped

,Unnamed: 0,Tax Units with Tax Cut,Tax Units with Tax Increase,Average Tax Change
1,Less than 10,"1,436",477,-8.000
2,10-20,"7,015",111,-81.000
3,20-30,"9,483",106,-184.000
4,30-40,"11,352",307,-297.000
5,40-50,"9,795",374,-370.000
6,50-75,"17,029","1,201",-553.000
7,75-100,"9,208","1,294",-577.000
8,100-200,"11,100","4,332",-512.000
9,200-500,691,"4,421",245.000
10,500-1000,57,710,2.461
11,1000+,40,420,14.225
12,All,"77,208","13,760",0.000

In [10]:
df_dropped['Tax Units with Tax Cut']= [x.replace(',', '.') for x in df_dropped['Tax Units with Tax Cut']]

In [11]:
df_dropped['Tax Units with Tax Cut']=(-1)*df_dropped['Tax Units with Tax Cut'].astype(float)

In [12]:
df_dropped['Tax Units with Tax Increase']= [x.replace(',', '.') for x in df_dropped['Tax Units with Tax Increase']]

In [13]:
df_dropped['Tax Units with Tax Increase']=df_dropped['Tax Units with Tax Increase'].astype(float)

In [14]:
df_dropped

,Unnamed: 0,Tax Units with Tax Cut,Tax Units with Tax Increase,Average Tax Change
1,Less than 10,-1.436,477.000,-8.000
2,10-20,-7.015,111.000,-81.000
3,20-30,-9.483,106.000,-184.000
4,30-40,-11.352,307.000,-297.000
5,40-50,-9.795,374.000,-370.000
6,50-75,-17.029,1.201,-553.000
7,75-100,-9.208,1.294,-577.000
8,100-200,-11.100,4.332,-512.000
9,200-500,-691.000,4.421,245.000
10,500-1000,-57.000,710.000,2.461
11,1000+,-40.000,420.000,14.225
12,All,-77.208,13.760,0.000

In [15]:
names = df_dropped.columns.tolist()
names[names.index('Unnamed: 0')] = 'Intervals'
df_dropped.columns = names

In [16]:
#Transform ColumnDataFrame to ColumnDataSource
tax_increase=ColumnDataSource(pd.DataFrame(df_dropped["Tax Units with Tax Increase"]))
tax_cut=ColumnDataSource(pd.DataFrame(df_dropped["Tax Units with Tax Cut"]))
cds_df_dropped = ColumnDataSource(df_dropped)

In [17]:
df_dropped

,Intervals,Tax Units with Tax Cut,Tax Units with Tax Increase,Average Tax Change
1,Less than 10,-1.436,477.000,-8.000
2,10-20,-7.015,111.000,-81.000
3,20-30,-9.483,106.000,-184.000
4,30-40,-11.352,307.000,-297.000
5,40-50,-9.795,374.000,-370.000
6,50-75,-17.029,1.201,-553.000
7,75-100,-9.208,1.294,-577.000
8,100-200,-11.100,4.332,-512.000
9,200-500,-691.000,4.421,245.000
10,500-1000,-57.000,710.000,2.461
11,1000+,-40.000,420.000,14.225
12,All,-77.208,13.760,0.000

In [18]:
years=[2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026]

In [19]:
text_source = ColumnDataSource({'year': ['%s' % years[0]]})
text = Text(x=0.8, y=600, text='year', text_font_size='20pt', text_color='#0569CE', text_alpha=1)

In [20]:
p = Bar(df_dropped, 
       label=cat(columns='Intervals', sort=False), 
       values=blend('Tax Units with Tax Increase', 'Tax Units with Tax Cut', name='values', labels_name='vars'),
       tooltips=[('Value', '@values')], ylabel="Tax units with tax cut             Tax units with tax increase", stack=cat(columns='values', sort=False), 
       color=color(columns='vars',
                      palette=['silver', 'orange'],
                      sort=True),
       bar_width=0.4, tools="pan,box_zoom, reset, save", plot_width=600, plot_height=500, logo=None,
       toolbar_sticky=False, legend=False)
p.xaxis.axis_label = 'Income [$ thousands]'
p.add_glyph(text_source, text)

GlyphRenderer(id='e1e646fa-f177-45a3-b337-3c669e973fc3', ...)

In [21]:
values=blend('Tax Units with Tax Increase', 'Tax Units with Tax Cut', name='values', labels_name='vars')

In [22]:
values

Blend(Tax Units with Tax Increase, Tax Units with Tax Cut)

In [23]:
s1 = figure(plot_width=600, plot_height=200, title='Average Tax Change', tools="box_zoom, reset, save")
s1.toolbar.logo = None
s1.toolbar_sticky = False
s1.title.text_color = '#0569CE'
s1.xaxis.axis_label = 'Income [$ thousands]'

In [24]:
avg_tax_change=df_dropped['Average Tax Change']

In [25]:
line_x=[i for i in range(len(df_dropped['Intervals']))]

In [26]:
line_x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [27]:
s1.line(line_x, avg_tax_change, line_color='#0569CE', line_width=2)
s1.circle(line_x, avg_tax_change, fill_color="white", size=8)

GlyphRenderer(id='25ccfd54-b274-4fd9-830a-e026f64fe46e', ...)

In [28]:
label_dict = {}
for i, s in enumerate(df_dropped['Intervals']):
    label_dict[i] = s

s1.xaxis.formatter = FuncTickFormatter(code="""
    var labels = %s;
    return labels[tick];
""" % label_dict)

In [29]:
label_dict

{0: 'Less than 10',
 1: '10-20',
 2: '20-30',
 3: '30-40',
 4: '40-50',
 5: '50-75',
 6: '75-100',
 7: '100-200',
 8: '200-500',
 9: '500-1000',
 10: '1000+',
 11: 'All'}

In [30]:
df_dropped_cut=df_dropped[['Intervals','Tax Units with Tax Cut']]

In [31]:
df_dropped_increase=df_dropped[['Intervals','Tax Units with Tax Increase']]

In [32]:
df_dropped_cut_new = {}
df_dropped_increase_new = {}
for year in years:
    df_dropped_cut_new['_' + str(year)]=ColumnDataSource(df_dropped_cut)
    df_dropped_increase_new['_' + str(year)]=ColumnDataSource(df_dropped_increase)

In [33]:
df_dropped_cut_new

{'_2017': ColumnDataSource(id='febfd094-435c-478f-b54f-6d5d874c91b8', ...),
 '_2018': ColumnDataSource(id='48980d99-a2ce-4ec6-b0b4-806e55a287f0', ...),
 '_2019': ColumnDataSource(id='8c40ae2d-a519-41e1-bec9-5cabbeae6309', ...),
 '_2020': ColumnDataSource(id='37c32d97-b369-41cb-ab59-3d8379014486', ...),
 '_2021': ColumnDataSource(id='d8aaa797-b7b2-4f06-bd76-dbc056a4e60e', ...),
 '_2022': ColumnDataSource(id='6915ba0e-ab8b-4c4b-bce8-a840e1a943bf', ...),
 '_2023': ColumnDataSource(id='d0dbe4ce-5b5c-4cf4-a612-7744eedff8f2', ...),
 '_2024': ColumnDataSource(id='9fcbf6d5-22e9-4dc6-9e9f-721e99b4fe13', ...),
 '_2025': ColumnDataSource(id='dd6d4e4e-ddbf-4bfa-8ae0-ca06e22a1dd7', ...),
 '_2026': ColumnDataSource(id='68ac4c40-700e-4246-8932-7862743a3504', ...)}

In [34]:
df_dropped_increase_new

{'_2017': ColumnDataSource(id='20f6389e-6bf9-4213-a452-2ad771599694', ...),
 '_2018': ColumnDataSource(id='35c165c9-972d-4557-8243-5df3cff43630', ...),
 '_2019': ColumnDataSource(id='630779b2-040c-42de-862c-8291b8c9344f', ...),
 '_2020': ColumnDataSource(id='5bb5bf3e-815b-4024-95a5-277adafeb657', ...),
 '_2021': ColumnDataSource(id='b17147c1-6c31-4aa5-8db3-8f1bb40a8a97', ...),
 '_2022': ColumnDataSource(id='314f7f35-78da-4da0-87bf-8980a2b4d315', ...),
 '_2023': ColumnDataSource(id='0795ba5a-650b-44bd-b1c6-0bfdd8c9e5b4', ...),
 '_2024': ColumnDataSource(id='2ea7fad2-757c-46a5-987a-d2a54993df49', ...),
 '_2025': ColumnDataSource(id='243aac56-1794-4978-93e6-bea564ef873e', ...),
 '_2026': ColumnDataSource(id='3c63d9cb-cb25-4cf1-8216-f615b567dd8b', ...)}

In [35]:
dictionary_of_sources = dict(zip([x for x in years], ['_%s' % x for x in years]))

In [36]:
js_source_array = str(dictionary_of_sources).replace("'", "")
js_source_array

'{2017: _2017, 2018: _2018, 2019: _2019, 2020: _2020, 2021: _2021, 2022: _2022, 2023: _2023, 2024: _2024, 2025: _2025, 2026: _2026}'

In [37]:
renderer_source_cut = df_dropped_cut_new['_%s' % years[0]]
renderer_source_increase = df_dropped_increase_new['_%s' % years[0]]

In [38]:
renderer_source_cut.data

{'Intervals': 1     Less than 10
 2            10-20
 3            20-30
 4            30-40
 5            40-50
 6            50-75
 7           75-100
 8          100-200
 9          200-500
 10        500-1000
 11           1000+
 12             All
 Name: Intervals, dtype: object, 'Tax Units with Tax Cut': 1      -1.436
 2      -7.015
 3      -9.483
 4     -11.352
 5      -9.795
 6     -17.029
 7      -9.208
 8     -11.100
 9    -691.000
 10    -57.000
 11    -40.000
 12    -77.208
 Name: Tax Units with Tax Cut, dtype: float64, 'index': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])}

In [41]:
# Add the slider
code_cut = """
    var year = slider.get('value'),
        df_dropped_cut_new = %s,
        new_source_data_cut = df_dropped_cut_new[year].get('data');
        renderer_source_cut.set('data', new_source_data_cut);
        text_source.set('data', {'year': [String(year)]});
        """ % js_source_array

code_increase = """
    var year = slider.get('value'),
        df_dropped_increase_new = %s,
        new_source_data_cut = df_dropped_cut_new[year].get('data');
        renderer_source_cut.set('data', new_source_data_cut);
        text_source.set('data', {'year': [String(year)]});
        """ % js_source_array

callback = CustomJS(args=df_dropped_cut_new, code=code_cut)
slider = Slider(start=years[0], end=years[-1], value=1, step=1, title="Year", callback=callback)
callback.args["renderer_source_cut"] = renderer_source_cut
callback.args["renderer_source_increase"] = renderer_source_increase
callback.args["slider"] = slider
callback.args["text_source"] = text_source

In [42]:
js_source_array

'{2017: _2017, 2018: _2018, 2019: _2019, 2020: _2020, 2021: _2021, 2022: _2022, 2023: _2023, 2024: _2024, 2025: _2025, 2026: _2026}'

In [43]:
#show(widgetbox(slider))

In [45]:
output_file("bar.html")
p_l = column(s1,p)

show(layout([[p_l],[slider]]))